.clients {
    padding: 100px 0 120px;

    &__slider {
        padding-top: 38px;

        &-wrap {
            width: 21rem;
            margin: 0 auto;
        }

        &-nav {
            display: flex;
            justify-content: center;
            gap: 34px;
            margin-top: 5.55rem;
        }

        &-prev, &-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 5rem;
            border: 2px solid #EF8B54;
            border-radius: 50%;
            cursor: pointer;
        }

        &-prev {
            left: 50%;
            top: 10px;
        }
    }

}

.slide-img {
    width: 210px;
    height: 210px;
    

    & img {
        width: 100%;
        height: 100%;
    }
}