.features {
    padding-top: 8.9rem;
    background: url('../img/bg.png') center center / 100% 1480px no-repeat;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            padding: 0 1rem;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.42rem;
            text-align: center;
            color: #FFFFFF;
            margin-top: 3rem;
        }

        &-text {
            font-size: 1.2rem;
            line-height: 1.9rem;
            text-align: center;
            color: #FFFFFF;
            margin-top: 2rem;
        }    
    }


}