.feed {
    background: url('../img/form/bg.png') top center / 100% 1367px no-repeat;
    padding-bottom: 8.5rem;
    
    &__text {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.7rem;
        color: #EF8B54;
    }

    &__free {
        margin-top: 3rem;
        border: 2px solid #EF8B54;
        padding: 2rem 1rem 2rem 2.5rem;

        & ul {
            list-style-type: none;

            & li {
                font-weight: 300;
                font-size: 1.3rem;
                line-height: 1.6rem;
                color: #FFFFFF;
                margin: .5rem 0;
                position: relative;

                &:first-child {
                    font-weight: 500;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    margin-bottom: 1.1rem;
                }

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: .9rem;
                    height: .1rem;
                    background-color: #fff;
                    left: -1.5rem;
                }

                &::before {
                    top: 50%;
                    transform: rotate(90deg);
                }

                &::after {
                    bottom: 50%;
                    transform: translateY(50%);
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1.5rem 1rem;
        margin-top: 5.7rem;
        background-color: rgba(255, 255, 255, .1);
        border-radius: .2rem;

        & input[type=text],
        & input[type=tel],
        & textarea {
            width: 100%;
            height: 4.5rem;
            padding: 14px 15px;

            &::placeholder {
                font-size: 1.4rem;
                line-height: 1.7rem;
                color: #595959;
            }
        }

        & div span {
            font-size: 1rem;
            line-height: 1.2rem;
            color: #FFFFFF;
        }

        & textarea {
            height: 8rem;
        }

        &-title {
            margin-top: 3rem;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #FFFFFF;
        }

        & img {
            align-self: flex-start;
        }

        & button {
            width: 26rem;
            height: 4.5rem;
            background: linear-gradient(113.3deg, #DE9B55 -8.73%, #EE5432 93.23%);
            box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            color: #FFFFFF;
            border: none;
            cursor: pointer;
        }
    }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 3.2rem;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2.2rem;
    height: 2.2rem;
    border: .1rem solid #C4C4C4;
    background-color: transparent;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked+label:after,
input[type="checkbox"]:not(:checked)+label:after {
    left: .5rem;
    top: .5rem;
    width: 1.3rem;
    height: .8rem;
    border-left: .22rem solid #EC5C36;
    border-bottom: .22rem solid #EC5C36;
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
}

input[type="checkbox"]:checked+label:after {
    opacity: 1;
}