.header {
    background-color: #202020;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: #202020;
        height: 50px;

    }

    &__logo {

        display: flex;
        align-items: center;

        &-text {
            margin-left: 1.4rem;
            font-family: 'TT Norms';
            font-weight: 500;
            font-size: 1.1rem;
            line-height: 1.3rem;
            letter-spacing: 0.3em;
            color: #FFFFFF;
            display: none;
        }
    }

    &__button {
        display: none;

        &:hover {
            transition: all .3s;
            color: #ffffff;
            border: 2px solid #ffffff;
        }
    }

    &__tel {
        display: none;
        margin-left: 3rem;

        & a {
            font-family: 'Source Sans Pro';
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 2.3rem;
            color: #FFFFFF;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                transition: all .3s;
                color: #FF834E;
            }
        }

    }

    &__nav {
        display: none;

        & ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            gap: 31px;

            & li {

                & a {
                    font-weight: 600;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    color: #FFFFFF;
                    text-decoration: none;
                    transition: all .3s;

                    &:hover {
                        transition: all .3s;
                        color: #FF834E;
                    }
                }
            }
        }
    }
}

.burger {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    cursor: pointer;

    & span {
        display: block;
        width: 1.75rem;
        height: .125rem;
        border-radius: 1px;
        background-color: #fff;
    }
}

.head {
    min-height: 526px;
    padding: 30px 0 25px 0;
    background: url('../img/blume.png') center center / cover no-repeat;
    background-color: #202020;
    overflow-x: hidden;

    &__ecommerce {
        display: flex;
        align-items: center;

        &-text {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 15px;
            color: #FF834E;
            margin-left: .77rem;
            letter-spacing: .9px;
        }
    }

    &__heading {
        margin-top: .948rem;
        font-weight: 700;
        font-size: 2.08rem;
        line-height: 28px;
        color: #FFFFFF;
    }

    &__subtitle {
        display: none;
    }

    &__img {
        width: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.38rem auto 0;
        position: relative;

        &-hd {
            display: none;
        }
    }

    &__bg {
        width: 29.8rem;
        height: 38.5rem;
        position: absolute;

        & svg {
            width: 100%;
            height: auto;
            opacity: .01;
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
    }

    &__btn {
        width: 28rem;
        height: 5rem;
        border: none;
        padding: 1.5rem;
        background-color: #FF834E;
        color: #fff;
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: left;
        position: relative;
        cursor: pointer;

        &-arr {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4.77rem;
            height: 50px;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #DE774B;
        }
    }

    &__answer {
        margin-top: 1.097rem;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        font-variant: small-caps;
        color: #FFFFFF;
        opacity: 0.5;
        text-align: center;
    }
}