@media (min-width: 576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }

    .header {

        &__logo {

            &-text {
                display: block;
            }
        }
    }
}

@media (min-width: 768px) {

    .container {
        max-width: 720px;
    }

    .main {
        background: url('../img/main-bg.jpg') center center / cover no-repeat;
    }

    .head {
        background: none;
        min-height: 68rem;
        margin-top: 0;

        &__ecommerce {
            display: flex;
            margin-top: 10rem;

            & svg {
                width: 1.6rem;
                height: 1.6rem;
            }

            &-text {
                font-size: 1.6rem;
                line-height: 2.2rem;
            }
        }

        &__heading {
            font-size: 2.4rem;
            line-height: 3.2rem;
            max-width: 50rem;
        }

        &__subtitle {
            display: block;
            margin-top: 20px;
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: #FFFFFF;
        }

        &__bg {
            width: 38.5rem;
            height: 56.8rem;
            right: -3rem;

            & svg {
                opacity: .03;
            }
        }

        &__img {

            width: 100%;

            &-small {
                display: none;
            }

            &-hd {
                width: 31rem;
                display: block;
                position: absolute;
                right: -3.5rem;
                top: -24rem;
                z-index: 1;
            }
        }

        &__button {
            align-items: flex-start;
            margin-top: 12.1rem;
        }

        &__btn {
            order: 1;
            width: 32.9rem;
            height: 6.5rem;
            font-size: 1.8rem;
            line-height: 2.2rem;

            &-arr {
                width: 6.2rem;
                height: 6.5rem;

                & svg {
                    width: 1.8rem;
                    height: 1.7rem;
                }
            }
        }

        &__answer {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            opacity: 1;
            margin-bottom: 1.5rem;
        }
    }

    .how {

        &__item {

            &::after {
                width: 100%;
            }
        }
    }

    .cases {

        &__wrap {
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
        }

        &__item {
            width: 45%;
        }
    }

    .clients {

        &__slider {
            margin-top: 10rem;

            &-wrap {
                width: 90%;
            }

            &-slide {
                position: relative;
                width: 210px;
                cursor: pointer;

            }

            &-num {
                display: none;
            }
        }
    }

    .slide-img {
        position: relative;
        width: 210px;
        height: 210px;
        z-index: 1;
    }

}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .burger {
        display: none;
    }

    .header {

        &__wrap {
            height: 90px;
            padding: 0;
        }

        &__button {
            margin-left: -6.1rem;
        }

        &__nav {
            display: block;
        }

        &__logo {

            & img {
                width: 63px;
            }
        }
    }

    .head {
        background: none;
        min-height: 72rem;
        margin-top: 0;

        &__ecommerce {
            display: flex;
            margin-top: 10rem;

            & svg {
                width: 2.2rem;
                height: 2.2rem;
            }

            &-text {
                font-size: 2.2rem;
                line-height: 2.8rem;
            }
        }

        &__heading {
            font-size: 3.2rem;
            line-height: 4rem;
            max-width: 50rem;
        }

        &__subtitle {
            display: block;
            margin-top: 20px;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #FFFFFF;
        }

        &__bg {
            width: 38.5rem;
            height: 56.8rem;
            right: -3rem;

            & svg {
                opacity: .03;
            }
        }

        &__img {

            width: 100%;

            &-small {
                display: none;
            }

            &-hd {
                width: 35rem;
                display: block;
                position: absolute;
                right: 0;
                top: -26rem;
                z-index: 1;
            }
        }

        &__button {
            align-items: flex-start;
            margin-top: 12.1rem;
        }

        &__btn {
            order: 1;
            width: 32.9rem;
            height: 6.5rem;
            font-size: 1.8rem;
            line-height: 2.2rem;
            transition: all .3s;

            &:hover {
                background-color: #d56a3d;
                transition: all .3s;
            }

            &-arr {
                width: 6.2rem;
                height: 6.5rem;

                & svg {
                    width: 1.8rem;
                    height: 1.7rem;
                }
            }
        }

        &__answer {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            opacity: 1;
            margin-bottom: 1.5rem;
        }
    }

    .features {
        display: none;
    }

    .feat {
        display: block;
        margin-top: 19rem;
        padding-bottom: 110px;
        background: url('../img/features/bg-hd.png') center center / cover no-repeat, url('../img/pattern.png') center center / contain no-repeat;

        &__tabs {
            padding: 0;

            &-tab {
                display: none;

            }

            &-active {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

            &-nav {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10rem;
                list-style-type: none;

                & li a {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    text-decoration-line: underline;
                    color: #FFFFFF;
                    opacity: 0.4;

                    &.btn__active {
                        color: #EF8B54;
                        opacity: 1;
                    }
                }
            }
        }

        &__img {
            height: 73.6rem;

            & img {
                width: 100%;
            }
        }

        &__text {
            width: 58.8rem;
            margin-left: 8rem;
            padding-top: 13.5rem;

            & h3 {
                font-weight: 600;
                font-size: 2.2rem;
                line-height: 3.1rem;
                color: #FFFFFF;
            }

            & p {
                margin-top: 4rem;
                font-size: 1.8rem;
                line-height: 2.9rem;
                color: #FFFFFF;
            }
        }

        &__banners {
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4rem;
            height: 5.3rem;

            & img {
                width: 100%;
            }
        }
    }

    .cases {
        display: none;

        &__item {
            padding: 2rem;
            opacity: .5;
            width: 100%;
            margin-bottom: 0;

            &:hover {
                opacity: 1;

                &::after {
                    content: '';
                }
            }

            &-active {
                margin-bottom: auto;

            }

            &-img {
                height: 26.7rem;
            }

            &-title {
                margin-top: 0;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
    }

    .casesdesk {
        display: block;
        padding-top: 120px;
        padding-bottom: 103px;
        background: url('../img/cases/bg-hd.png') center center / cover no-repeat, url('../img/pattern.png') center center / contain no-repeat;

        & h3 {
            font-size: 3.2rem;
            font-weight: 300;
            line-height: 5.1rem;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
        }

        &__wrap {
            margin-top: 12rem;
            display: grid;
            grid-template-columns: repeat(4, minmax(23%, auto));
            grid-template-rows: minmax(36rem, auto);
            column-gap: 1.5rem;
        }

        &__consult {

            &-wrap {
                height: 6.5rem;
                margin: 10rem auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 99rem;
                background-color: #50386F;
                padding: 0 0 0 3rem;
            }

            &-text {
                font-size: 1.8rem;
                line-height: 2.2rem;
                color: #FFFFFF;
            }
        }

        &__btn {
            width: 24rem;
            height: 100%;
            background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
            box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            font-size: 1.8rem;
            line-height: 2.2rem;
            color: #FFFFFF;
            cursor: pointer;
        }
    }

    .section__title {
        font-size: 3.2rem;
        line-height: 5.1rem;
    }

    .feed {
        padding-bottom: 0;
        background: url('../img/form/bg-hd.png') center center / contain no-repeat, url('../img/form/code.png') bottom left / 892px 452px no-repeat, url('../img/pattern.png') center center / contain no-repeat;

        &__text {
            justify-content: flex-start;
        }

        &__free {
            margin: 5rem 2rem 0 0;
            padding: 5.5rem 2.5rem;
            border: 2px solid #EF8B54;

            & ul {

                & li {
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                    margin: .5rem 0;

                    &:first-child {
                        font-size: 1.5rem;
                        line-height: 1.8rem;
                        margin-bottom: 1rem;
                    }

                }
            }

        }

        &__form {
            background-color: #fff;
            padding: 3rem;
            margin-top: 3rem;

            & input[type=text],
            & input[type=tel],
            & textarea {
                background-color: #F6F6F6;
                border-color: #D0D0D0;
            }

            & button {
                width: 100%;

                &:hover {
                    background: linear-gradient(95deg, #d8862f -5%, #d44525 98%);
                    box-shadow: 0 4px 4px rgba(222, 155, 85, .2);
                }
            }
        }

        &__wrap {
            padding: 17.8rem 15rem 17.5rem;
            display: grid;
            grid-template-columns: auto 350px;
            grid-template-rows: auto;
            column-gap: 0;
        }

        &__title {
            margin-top: 30px;
            font-size: 2.5rem;
            line-height: 3.2rem;
        }

        &__form {

            &-title {
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 1.6rem;
                order: -1;
            }
        }
    }

    .footer {

        &__wrap {
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__logo {
            margin-left: 35px;
            margin-top: -15px;
            width: 15.8rem;

            & img {
                width: 100%;
            }
        }

        &__title {
            text-align: left;
        }

        &__block {
            margin-top: 0;

            &:nth-child(3) {
                margin-top: 0;
            }

            & ul {

                & li {
                    text-align: left;
                    margin: 1.2rem 0;
                }
            }
        }

        &__map {
            margin-top: 0;
            width: auto;
            gap: 2.2rem;
        }
    }


}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .head {
        min-height: 86rem;

        &__heading {
            font-size: 3.6rem;
            line-height: 4rem;
            max-width: 56rem;
        }

        &__subtitle {
            display: block;
            margin-top: 20px;
            font-size: 1.6rem;
            line-height: 2.1rem;
            color: #fff;
        }

        &__button {
            margin-top: 18rem;
        }

        &__img-hd {
            width: 42rem;
        }

        &__ecommerce {
            margin-top: 18rem;
        }

        &__bg {
            width: 44.5rem;
            height: 55.8rem;
            right: -4rem;

            & svg {
                opacity: .03;
            }
        }
    }

    .feat {

        &__text {

            & h3 {
                font-size: 2.6rem;
                line-height: 4.1rem;
            }
        }
    }

    .cases {

        &__item {

            &-title {
                margin-top: 1.2rem;
                font-size: 2.2rem;
                line-height: 2.8rem;
            }
        }
    }

    .casesdesk {

        & h3 {
            font-size: 4.2rem;
        }
    }

    .clients {

        &__slider {

            &-num {
                display: block;
            }
        }
    }

    .feed {

        &__wrap {
            column-gap: 0;
        }

        &__title {
            font-size: 3.1rem;
            line-height: 4rem;
        }

        &__form {

            &-title {
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.8rem;
            }
        }
    }

    .section__title {
        font-size: 4.2rem;
        line-height: 5.1rem;
    }

}

@media (min-width: 1440px) {
    .container {
        max-width: 1410px;
    }

    .header {

        &__button {
            display: inline-block;
            width: 16.6rem;
            height: 4.7rem;
            border: 1px solid #FF834E;
            background-color: transparent;
            font-family: 'Source Sans Pro';
            font-weight: 300;
            font-size: 1.6rem;
            line-height: 2rem;
            color: #FF834E;
            transition: all .3s;
            cursor: pointer;
        }
    }

    .header {
        &__tel {
            display: inline-block;
        }


    }

    .head {
        background: none;
        min-height: 105.7rem;
        margin-top: 0;

        &__ecommerce {
            display: flex;
            margin-top: 17.1rem;

            & svg {
                width: 2.2rem;
                height: 2.2rem;
            }

            &-text {
                font-size: 2.2rem;
                line-height: 2.8rem;
            }
        }

        &__heading {
            font-size: 5.2rem;
            line-height: 7rem;
            max-width: 82.4rem;
            margin-top: 2rem;
        }

        &__subtitle {
            display: block;
            margin-top: 3.3rem;
            font-size: 2rem;
            line-height: 2.7rem;
            color: #FFFFFF;
        }

        &__bg {
            width: 59.5rem;
            height: 76.8rem;
            right: -4rem;

            & svg {
                opacity: .03;
            }
        }

        &__img {

            width: 100%;

            &-small {
                display: none;
            }

            &-hd {
                width: auto;
                display: block;
                position: absolute;
                right: -1.3rem;
                top: -37rem;
                z-index: 1;
            }
        }

        &__button {
            align-items: flex-start;
            margin-top: 21.1rem;
        }

        &__btn {
            order: 1;
            width: 32.9rem;
            height: 6.5rem;
            font-size: 1.8rem;
            line-height: 2.2rem;

            &-arr {
                width: 6.2rem;
                height: 6.5rem;

                & svg {
                    width: 1.8rem;
                    height: 1.7rem;
                }
            }
        }

        &__answer {
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            opacity: 1;
            margin-bottom: 1.5rem;
        }
    }

    .how {
        display: none;
    }

    .work {
        display: block;
        min-height: 10.61rem;
        background: url('../img/work/bg.png') center center / cover no-repeat;


        & h3 {
            font-weight: 300;
            font-size: 26px;
            line-height: 32px;
            color: #FFFFFF;
            text-align: center;
        }

        &__wrap {
            margin-top: 95px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 305px);
            row-gap: 48px;
            background: url('../img/work/path.png') top 35px left -20px / contain no-repeat;
            padding: 7.1rem 21rem;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &:hover {

                & .work__item-icon {
                    background-color: #fff;

                    & svg path {
                        fill: #1D1D1D;
                        transition: all .3s;
                    }
                }

                & .work__num {
                    color: #EF8B54;
                    opacity: 1;
                    transition: all .3s;
                }

                & .work__title {
                    display: none;
                }

                & .work__more {
                    display: flex;
                }
            }

            &-icon {
                width: 18rem;
                height: 18rem;
                background-color: #1D1D1D;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transition: all .3s;

                & svg path {
                    fill: #EF8B54;
                    transition: all .3s;
                }
            }

        }

        &__more {
            display: none;
            align-items: center;
            margin-top: 3.2rem;

            & a {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                text-decoration-line: underline;
                color: #FFFFFF;

            }

            & img {
                display: inline-block;
            }

        }

        &__num {
            position: absolute;
            right: 2rem;
            top: -7rem;
            font-weight: 700;
            font-size: 11.8rem;
            line-height: 14.4rem;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.1;
            transition: all .3s;

            &-first {
                letter-spacing: .8rem;
            }
        }

        &__title {
            margin-top: 20px;
            font-size: 1.8rem;
            line-height: 2.2rem;
            text-align: center;
            color: #FFFFFF;
        }
    }



    .feat {
        display: block;
        margin-top: 19rem;
        padding-bottom: 110px;
        background: url('../img/features/bg-hd.png') center center / cover no-repeat, url('../img/pattern.png') center center / contain no-repeat;

        &__tabs {
            padding: 0;
        }

        &__img {
            margin-top: 2.8rem;
            margin-left: 3.8rem;

            & img {
                width: auto;
            }
        }

        &__text {
            width: 77.8rem;
            padding-top: 17.5rem;

            & p {
                max-width: 57.5rem;
            }
        }

        &__banners {
            max-width: 62.5rem;
            margin-top: 4.5rem;
        }
    }

    .cases {

        &__item {

            &-img {
                height: 36.7rem;
            }

            &-title {
                margin-top: 1.2rem;
                font-size: 2.5rem;
                line-height: 3.0rem;
            }

            &-subtitle {
                font-size: 18px;
                line-height: 21px;
                opacity: 0.8;
            }
        }
    }

    .casesdesk {

        &__wrap {
            margin-top: 12rem;
            display: grid;
            grid-template-columns: repeat(4, minmax(33rem, auto));
            grid-template-rows: minmax(50rem, auto);
            column-gap: 3.2rem;
        }
    }



    .clients {
        padding: 1.9rem 0 20.8rem 0;
        background: url('../img/clients/bg-hd.png') center center / contain no-repeat, url('../img/pattern.png') center center / contain no-repeat;

        &__slider {
            padding-top: 10rem;

            &-wrap {
                width: 90%;
            }

            &-slide {
                position: relative;
                width: 352px;
                cursor: pointer;

                &:hover {

                    & .clients__slider-num {
                        color: #EF8B54;
                        opacity: 1;
                    }
                }
            }

            &-nav {
                gap: 49px;
                margin-top: 93px;
            }

            &-num {
                position: absolute;
                font-weight: 700;
                font-size: 19rem;
                line-height: 23.2rem;
                text-align: center;
                color: #FFFFFF;
                opacity: 0.1;
                top: -9rem;
                right: -0.4rem;

            }

            &-prev,
            &-next {
                width: 7.4rem;
                height: 7.4rem;
                border: 3px solid #EF8B54;

                & img {
                    width: 2.1rem;
                }
            }
        }


    }

    .slide-img {
        position: relative;
        width: 317px;
        height: 317px;
        z-index: 1;
    }

    .feed {
        padding-bottom: 0;
        background: url('../img/form/bg-hd.png') center center / contain no-repeat, url('../img/form/code.png') bottom left / 892px 452px no-repeat, url('../img/pattern.png') center center / contain no-repeat;

        &__text {
            justify-content: flex-start;
        }

        &__free {
            margin: 6rem 3rem 0 0;
            padding: 4.2rem 6rem;
            border: 4px solid #EF8B54;

            & ul {

                & li {
                    font-size: 1.6rem;
                    line-height: 2rem;
                    margin: .5rem 0;

                    &:first-child {
                        font-size: 2.5rem;
                        line-height: 3rem;
                        margin-bottom: 1.1rem;
                    }

                }
            }

        }

        &__form {
            background-color: #fff;
            padding: 3rem;
            margin-top: 3rem;

            & input[type=text],
            & input[type=tel],
            & textarea {
                background-color: #F6F6F6;
                border-color: #D0D0D0;
            }

            & button {
                width: 100%;
            }
        }

        &__wrap {
            padding: 17.8rem 15rem 17.5rem;
            display: grid;
            grid-template-columns: auto 350px;
            grid-template-rows: auto;
            column-gap: 9.8rem;
        }

        &__title {
            margin-top: 30px;
            font-size: 4.1rem;
            line-height: 5rem;
        }

        &__form {

            &-title {
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 2.2rem;
                order: -1;
            }
        }
    }

    input[type="checkbox"]:checked+label,
    input[type="checkbox"]:not(:checked)+label {
        color: #595959;
        padding: 0 3rem 0 3.5rem;
    }

    .footer {

        &__wrap {
            flex-direction: row;
            justify-content: space-evenly;
        }

        &__block {
            margin-top: 0;

            &:nth-child(3) {
                margin-top: 0;
            }
        }

        &__map {
            margin-top: 0;
            width: auto;
            gap: 2.2rem;
        }
    }


}